<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QassimPay</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>

<body>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    <!-- Navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="About">
                <img src="~/images/QassimPas.png" alt="QassimPay Logo" class="navbar-logo">
            </a>
            <div class="navigation">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Username") != null) // Logged-in user
                {
                    <a class="nav-link" href="/Home/Wallet">Wallet</a>
                    <a class="nav-link" href="/Home/Transfer">Transfer</a>
                    <a class="nav-link" href="/Home/Billing">Billing</a>
                    <a class="nav-link" href="/Home/Transfer_History">Transfer History</a>
                    <a class="nav-link" href="/Home/Billing_History">Billing History</a>
                    <a class="nav-link" href="/Currencyexchange/Index">Currency Exchange</a>
                    <a class="nav-link" href="/Home/Address">Address</a>
                    <a class="nav-link" asp-action="Logout">Logout</a>

                }
                else // Guest user
                {
                    <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                    <a class="nav-link" asp-controller="CurrencyExchange" asp-action="Index">Currency Exchange</a>
                    <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
                    <a class="nav-link" asp-controller="Home" asp-action="Register">Register</a>
                }
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; Construction Lab Project QassimPay 2024</p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
